*{
    margin:0;
    padding:0;
    background: #191919;
}
header nav{
    display: flex;
    flex-direction: row;
}
header.episod{
    width: 100%;
}
header nav .logo{
    width: 160px;
    height: 33px;
    margin: 43px 797px 43px 51px;
}
header nav .nav-topic{
    display: flex;
    flex-direction: row;
    margin-top: 46px;
}
header nav div a{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-decoration: none;
    margin-right: 40px;
    color: #FFFFFF;;
}
header nav div div a:hover{
    color:  #118DA8;
    transition: 800ms;
}
/*nav-checkbox*/
    #menu{
        opacity: 0;
    }
    .menu_hmb{
        display: flex;
        align-items: center;
        position: relative;
        margin: 10px 10px 10px 44px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu_hmb>span,
    .menu_hmb>span::before,
    .menu_hmb>span::after{
        display: block;
        position: absolute;
        width: 100%;
        color: #FFFFFF;
        background-color: #118DA8;
        height: 5px;
    }
    .menu_hmb>span::before{
        content: "";
        margin-top: -10px;
    }
    .menu_hmb>span::after{
        content: "";
    }
    .menu-box{
        display: block;
        position: relative;
        visibility: hidden;
        margin-left: -100%;
        width: 300px;
        height: 100%;
        padding: 17px 0;
        list-style: none;
        text-align: center;
    }
    .menu-box li a{
        display: block;
        padding: 5px 24px;
        color: #FFFFFF;
        text-decoration: none;
    }
    #menu:checked~.menu_hmb>span{
        transform: rotate(180deg);
    }
    #menu:checked~.menu_hmb>span::before{
        margin-top: 0;
        transform: rotate(45deg);
    }
    #menu:checked~.menu_hmb>span::after{
        margin-top:0;
        transform: rotate(135deg);
    }
    #menu:checked~.menu-box{
        visibility: visible;
        margin-left: 0;
    }
    button {
        animation: wiggle 2s linear infinite;
      }
      
      /* Keyframes */
      @keyframes wiggle {
        0%, 7% {
          transform: rotateZ(0);
        }
        15% {
          transform: rotateZ(-15deg);
        }
        20% {
          transform: rotateZ(10deg);
        }
        25% {
          transform: rotateZ(-10deg);
        }
        30% {
          transform: rotateZ(6deg);
        }
        35% {
          transform: rotateZ(-4deg);
        }
        40%, 100% {
          transform: rotateZ(0);
        }
      }
      
      
      button {
        border: none;
        border-radius: 0 0 0.2em 0.2em;
        color: #fff;
        font-family: Helvetica, Arial, Sans-serif;
        font-size: 1em;
        transform-origin: 50% 5em;
      }
/*head*/
header .head{
    display: flex;
    flex-direction: row;
}
header .head-img{
   max-width: 650px;
    max-height: 873px;
    margin: 40px 60px 93px 70px;
}
header .head-topic{
    display: flex;
    flex-direction: column;
}
header section .head-topic1, header section .head-topic2,header section .head-topic3,header section .topic, header section .episod-topic,header section .b-ep,header section .b-sl, header section .slaid-topic, header section .frame, header section .topic-slaid,header section .subtitle,main section .arrow-topic, main .arrow .copy,main section div .em-text-1, main section div .em-text-2{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 3.2px;
    color: #FFFFFF;
    
}
header section .head-topic1{
    width: 520px;
    line-height: 88px;
    font-size: 70px;
    margin-top: 334px;
}
header section .head-topic2{
    font-size: 75px;
    background-image: url(../img/line.svg);
    width: 160px;
}
header section .head-topic3{
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
}
header section .line{
    display: flex;
    flex-direction: row;
}
header section .topic{
    font-size: 15px;
    line-height: 24px;
    margin-top: 90px;
    margin-left: 12px;
    margin-bottom: 16px;
}
header section .music{
    display: flex;
    flex-direction: row;
    margin-left: 12px;
}
header section .music img{
    margin-right: 18px;
    width: 31px;
    height: 31px;
}
/*last episod*/
header .episod{
    display: flex;
    flex-direction: row;
}
header section .episod-topic{
    font-size: 64px;
    line-height: 79px;
    letter-spacing: 2.88px;
    width: 520px;
    margin: 93px 220px 66px 70px;
}

header section .b-ep{
    width: 208px;
    height: 51px;
    margin:124px 85px 76px 400px;
    background: #118DA8;
    border-radius: 6px;   
    font-size: 17px;
    line-height: 27px;
    cursor: pointer;
}
header section .slaid-bg{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1400px;
    height: 545px;
    background: #000000;
    border-radius: 32px;
    margin-left: 60px;
    margin-bottom: 60px;
}
header section .img{
    position: absolute;
    width: 389px;
    height: 465px;
    margin: 40px 53px 40px 40px;
}
header section .img-1{
    position: absolute;
    width: 389px;
    height: 432px;
    margin: 40px 53px 40px 40px;
}
header section .slaid-title{
    position: absolute;
    margin-left: 483px;
    background: #000000;
    border-radius: 32px;
}

header section .slaid-topic, .slaid-topic-1{
    width: 73px;
    text-align: center;
    height: 28px;
    margin-top: 48px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 27px;
}
header section .slaid-topic-1{
    width: 130px;
    color:#FFFFFF;
}
header section .frame{
    width: 100px;
    height: 27px;
    font-size: 17px;
    line-height: 27px;
    color: #118DA8;
    margin-top: 48px;
    background-color: #000000;
}
header section .topic-slaid{
    background-color: #000000;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 2.56px;
    width: 680px;
    margin-top: 18px;
}
header section .subtitle{
    font-size: 20px;
    line-height: 31px;
    color: rgba(255, 255, 255, 0.7);
    background-color: #000000;
    margin-top: 28px;
    margin-bottom: 18px;
    width: 900px;
}
header section .b-sl{
    width: 208px;
    height: 51px;
    background: #118DA8;
    border-radius: 6px;   
    font-size: 13px;
    line-height: 27px;
    cursor: pointer;
}
/*main*/
main .main-block{
    display: flex;
    flex-direction: row;
}
main section  .arrow{
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}
main section .arrow-img{
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-color: #118DA8;
    margin: 408px 538px 20px 70px;
    position: relative;
}
main section .arrow-img img{
    width: 65px;
    height: 71px;
    position: absolute;
    margin-left: 24px;
    margin-top: 21px;
    background-color: #118DA8;
}
main section .arrow-topic{
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
    margin-top: 20px ;
}
main section div .name{
    font-size: 65px;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    width: 500px;
}
main .arrow .copy{
    width: 550px;
    margin-top: 30px;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
}
main section .img-name{
    width: 650px;
    height: 743px;
    margin-top: 260px;
}
main  section .email-bg{
    display: flex;
    flex-direction: row;
    width: 1300px;
    height: 387px;
    background: #000000;
    border-radius: 32px;
    margin-left: 100px;
    margin-top: 286px;
    margin-bottom: 60px;
}
main section div .email-text, main section div .em-but{
    background: #000000;
    border-radius: 32px;
}
main section div .em-text-1{
    font-size: 18px;
    line-height: 27px;
    background-color: #000000;
    color: #118DA8;
    width: 190px;
    margin: 59px 450px 0 60px;
}
main section div .em-text-2{
    font-size: 72px;
    line-height: 79px;
    margin-left: 60px;
    width: 430px;
    padding: 5-px;
    margin-top: 6px;
    background-color: #000000;
    letter-spacing: 2.88px;
    color: #FFFFFF;
}
main section div  .name-1{
    background: #191919;
    border: 1px solid #191919;
    border-radius: 6px;
    width: 522px;
    height: 82px;
    padding-left: 20px;
    margin: 60px 60px 20px 0;
}
main section div .email-1{
    background: #191919;
    border: 1px solid #191919;
    padding-left: 20px;
    border-radius: 6px;
    width: 522px;
    height: 82px;
    margin: 20px 60px 20px 0;
}
main section div  .name-1,main section div .email-1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
}
main section div .bu-email{
    width: 87px;
    height: 48px;
    font-weight: 700;
    font-family: 'DM Sans';
font-style: normal;
font-size: 15px;
line-height: 29px;
    margin: 20px 495px 75px 0;
    border-radius: 6px;
    background:#118DA8 ;
    color: rgba(255, 255, 255, 0.7);
}
/*star-block*
main .stars{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
main section .star-block-1, main section .star-block-2,main section .star-block,main section .star-block-21{
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    background-color: #000000;
    width: 423px;
    height: 321px;
    margin: 200px 16px 16px 90px;
}
main section .star-block{
    margin: 200px 16px 16px 16px;
}
main section .star-block-2{
    margin: 16px 16px 16px 16px;
}
main section .star-block-21{
    margin: 16px 16px 16px 90px;
}
main section div .star-img{
    display: flex;
    flex-direction: row;
    width: 17px;
    height: 16px;
    margin-top: 54px;
    margin-left: 6px;
    background-color: #000000;
}
main section div .f-star{
    margin-left: 50px;
    background-color: #000000;
}
main section div .star-img img{
    background-color: #000000;
}
main section div .star-text-1, main section div .star-text-2{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
}
main section div .star-text-1{
    background-color: #000000;
    margin: 20px 60px 19px 50px;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}
main section div .star-text-2{
    margin: 0 230px 51px 50px;
    font-size: 24px;
    line-height: 29px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.7);
}*/
main .stars{
    display: grid;
    grid-template-columns: 420px 420px;
    grid-template-rows: 320px 320px 320px;
    column-gap: 16px;
    row-gap: 16px;
    justify-content: center;
}
main section .star-block-1, main section .star-block-2,main section .star-block,main section .star-block-21{
    border-radius: 32px;
    background-color: #000000;
}
main section div .star-img{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 32px;
    width: 17px;
    height: 16px;
    background-color: #000000;
}
main section div .star-img img{
    background-color: #000000;
}
main section div .star-text-1{
    display: grid;
    padding-left: 30px;
    padding-top: 10px;
    background-color: #000000;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}
main section div .star-text-2{
    font-size: 24px;
    padding-left: 32px;
    line-height: 29px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.7);
}
/*footer*/
footer .foot{
    display: flex;
    flex-direction: row;
}
footer section .f-logo, footer section .f-text{
    display: flex;
    flex-direction: column;
}
footer section div .logo-imagw{
    width: 223px;
    height: 46px;
    margin: 184px 340px 27px 71px;
}
footer section div .social{
    display: flex;
    flex-direction: row;
    margin-left: 71px;
}
footer section div .social img{
    width: 24px;
    height: 24px;
    margin-right: 11px;
}
footer section .f-text{
    margin-top: 184px;
    margin-right: 120px;
}
footer section .f-text a{
    text-decoration: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
}
footer section .music-1{
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    margin-top: 184px;
}
footer section .music-1 img{
    margin-right: 18px;
    width: 31px;
    height: 31px;
}