@media (max-width:1024px){
    header nav .logo{
        margin: 43px 0 43px 51px;
    }
    header nav .nav-topic{
        margin-left: 247px;
    }
    header .head{
        flex-direction: column;
    }
    header .head-img, header .head-topic{
        margin-left: 125px;
        margin-bottom: 0;
        margin-right: 0;
    }
    header section .head-topic1 {
        margin-top: 95px;
    }
    header section .episod-topic{
        width: 455px;
        margin: 93px 0 66px 70px;
    }
    header section .b-ep{
        margin: 109px 0 76px 0;
        width: 250px;
    }
    header section .slaid-bg {
        width: 750px;
        height: 980px;
        margin-left: 36px;
        margin-right: 0;
        flex-direction: column;
    }
    header section .slaid-title{
        margin: 510px 10px 10px 41px;
    }
    header section .slaid-topic, header section .frame,header section .topic-slaid,header section .subtitle,header section .b-sl{
        position: relative;
        margin: 0;
    }
    header section .img, header section .img-1{
        position: relative;
        margin-left: 24%;
    }
    header section .slaid-topic{
        margin: 10px 10px 10px 41px;
    }
    header section .slaid-topic-1{
        margin: 10px 10px 10px 38px;
    }
    header section .frame{
        margin: 5px 40px 20px 41px;
    }
    header section .topic-slaid{
        margin: 7px 40px 10px 39px;
        width: 628px;
    }
    header section .subtitle{
        margin: 7px 40px 10px 39px;
        width: 625px;
    }
    header section .b-sl{
        margin: 7px 40px 10px 39px;
    }
    main .main-block{
        flex-direction: column;
        margin-top: -309px;
    }
    main section .img-name{
        margin: 10px 30px 10px 60px;
    }
    main  section .email-bg{
        width: 585px;
        height: 682px;
        padding-left: 42px;
        flex-direction: column;
        margin-left: 89px;
        margin-top: 131px;
    }
    main .stars{
        justify-content: left;
        margin-left: -23px;
    }
    main section .star-block-1, main section .star-block-2,main section .star-block,main section .star-block-21{
        margin: 9px 0px 10px 52px;
    }
    footer section div .logo-imagw{
        margin: 42px 78px 27px 71px;
    }
    footer section .f-text{
        margin: 42px 34px 70px 35px;
    }
    footer section .music-1 {
        margin-top: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .hanburger-menu{
        opacity: 0;
    }
}
@media (max-width: 768px){
    header nav .nav-topic{
        opacity: 0;
    }
    .hanburger-menu{
        opacity: 1;
    }
    header  .head-img{
        margin-left: 1px;
    }
    header section .episod-topic {
        width: 400px;
        margin: 93px 0 0 17px
    }
    header section .b-ep{
        margin-top: 146px;
        width: 195px;
    }
    header section .slaid-bg {
        width: 572px;
        height: 1070px;
        flex-direction: column;
        margin-left: 43px;
    }
    header section .img, header section .img-1{
        position: relative;
        margin-left: 16%;
    }
    header section .slaid-topic{
        margin: 10px 10px 10px 41px;
    }
    header section .slaid-topic-1{
        margin: 10px 10px 10px 38px;
    }
    header section .frame{
        margin: 5px 40px 20px 41px;
    }
    header section .topic-slaid{
        margin: 7px 40px 10px 39px;
        width: 440px;
    }
    header section .subtitle{
        margin: 7px 40px 10px 39px;
        width: 444px;
    }
    header section .b-sl{
        margin: 7px 40px 10px 39px;
        width: 170px;
    }
    main .arrow .copy{
        width: 430px;
    }
    main section .img-name{
        margin-top: 30px;
        margin-left: -55px;
    }
    main .main-block{
        margin-left: 57px;
    }
    main  section .email-bg{
        margin-left: 9px;
    }
    main .stars{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    main section .star-block-1, main section .star-block-2,main section .star-block,main section .star-block-21{
        width: 353px;
        height: 400px;
        margin: 9px 0 10px 31px;
    }
    footer section div .logo-imagw{
        margin: 42px 63px 27px 40px;
    }
    footer section .f-text{
        display: contents;
        margin: 42px 23px 0 27px;
    }
    footer section .f-logo{
        margin-left: 93px;
    }
    footer .foot{
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    footer section .music-1{
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
    }
}